/* #h5{
    text-align: center;
    font-size: 50pt;
}

.card-container{
    display: flexbox;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
}

.beer-list-grid a{
    text-decoration: none;
}

.beer-tile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: -2px -2px 7.5px 0px rgba(68,68,68,0.4);
    justify-content: flex-start;
    text-align: justify;
    color: black;
}

.beer-tile img{
    margin-top: 15px;
    margin-bottom: 20px;
    justify-content: center;
    align-self: center;
    max-width: 300px;
    max-height: 300px;
}

.beer-name{
    align-self: center;
    font-size: 24pt;
} */